body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.player {
  background: #121;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}

.hearts {
  font-size: 30px;
  margin: 10px 0;
}

button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

#resetBtn {
  display: none;
  margin-top: 30px;
  background: crimson;
  color: white;
  border: none;
}

